@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: pn-bold;
    src: url(../fonts/ProximaNova/ProximaNovaBold.ttf);
  }
  @font-face {
    font-family: pn-regular;
    src: url(../fonts/ProximaNova/ProximaNovaRegular.ttf);
  }
}

.nav-active {
  @apply text-black border-b-2 border-mangga-green-400;
}
.mangga-button {
  @apply rounded-md text-center px-4 py-2;
}
.mangga-button-green {
  @apply bg-mangga-green-300 text-white hover:bg-mangga-green-400 mangga-button;
}
.mangga-button-green-outline {
  @apply text-mangga-green-400 border border-mangga-green-400 hover:bg-mangga-green-400 hover:text-white mangga-button;
}
.mangga-button-orange {
  @apply bg-mangga-orange-300 text-white hover:bg-mangga-orange-400 mangga-button;
}
.mangga-button-orange-outline {
  @apply text-mangga-orange-400 border border-mangga-orange-400 hover:bg-mangga-orange-400 hover:text-white mangga-button;
}
.mangga-button-transparent-orange {
  @apply hover:text-white hover:bg-mangga-orange-400 mangga-button;
}
.mangga-button-gray {
  @apply bg-gray-500 text-white hover:bg-gray-700 mangga-button;
}
.mangga-button-red {
  @apply bg-mangga-red-300 text-white hover:bg-red-600 mangga-button;
}



.mangga-tag {
  @apply rounded-md px-12 py-2;
}
.mangga-tag-orange-outline {
  @apply text-mangga-orange-400 border border-mangga-orange-400 mangga-tag;
}

.card{
    @apply bg-white rounded-lg shadow-lg;
}
.card-gray{
    @apply bg-gray-100 rounded-lg shadow-lg;
}
.form-input{
    @apply border-b border-gray-400 w-full text-lg md:text-xl focus:outline-none disabled:text-gray-400;
}
.form-pengajuan-input{
    @apply w-full text-lg md:text-xl focus:outline-none disabled:text-gray-400 rounded-xl shadow-md p-3 mb-6;
}

.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
  display: block;
}
.dropdown-box:hover .dropdown-menu-box {
  display: block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
